#jinja2>=2.10
numpy>=1.8.1
#ilamb>=2.1


# LvK: hardcoding some package versions for Snellius
MarkupSafe==1.1.1
numpy==1.15.4
Jinja2==2.10.1
scipy==1.2.1
sympy==1.4
cftime==1.5.1
cf_units==2.0.2
netCDF4==1.5.6 
#netCDF4==1.4.2
